# Supabase Configuration
SUPABASE_URL=https://odqfkcfyvaammapfssma.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kcWZrY2Z5dmFhbW1hcGZzc21hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxODkxODgsImV4cCI6MjA5NTc2NTE4OH0.oNnSwIqF1gqJtmPL9VOouB9Fw7uQLYUcPn1f1sNXbdg

# Flask Configuration
SECRET_KEY=30f72e5971fcb88b40ba54bfbf73e93a7982aa0265f6382a6e763244855a1508
FLASK_ENV=development
FLASK_DEBUG=True

# Face Recognition Settings
FACE_TOLERANCE=0.6
FACE_ENCODINGS_PATH=static/faces
